#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@
	qmake -o Makefile classwizard.pro
override_dh_install:
	make
	mkdir debian/classwizard/usr
	mkdir debian/classwizard/usr/bin
	mkdir debian/classwizard/etc
	cp  classwizard debian/classwizard/usr/bin
	cp  -r gaea/   debian/classwizard/etc/
